h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}

button{
    width: 100%;
}

/* input, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */
/* button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
} */
.link {
    text-align: center;
    margin-top: 15px;
}
.link a {
    color: #007bff;
    text-decoration: none;
}
.link a:hover {
    text-decoration: underline;
}
